This example show how to obtain the genotypes set of rsids 
contained in a remote repositiory

In [2]:
# nest_asyncio prevents error due to Datalad RuntimeError: Cannot run the event loop while another loop is running
import nest_asyncio
nest_asyncio.apply()

import hipsnp as hps
import datalad.api as dl

In [ ]:
source = 'git@gin.g-node.org:/juaml/datalad-example-bgen'
rsids = ['RSID_2', 'RSID_3', 'RSID_5', 'RSID_6', 'RSID_7']
chromosomes = ['1']
qctool = '/home/oportoles/Apps/qctool_v2.0.6-Ubuntu16.04-x86_64/qctool'
path_to_save_bgen = '/tmp/hipsnp/example1/'


rsid_chromo, bgen_files, datalad_DataSet = hps.pruned_bgen_from_Datalad(rsids,
                                                            outdir=path_to_save_bgen,
                                                            datalad_source=source,
                                                            qctool=qctool,
                                                            data_dir=path_to_save_bgen,
                                                            chromosomes=chromosomes,
                                                            )

gen = hps.from_bgen()

g_allele, g_012 = gen.snp2genotype(weights=path_w)

Example 1A. From obtain the gentype, risk score, and dosage from a .bgen file in
as a remote Datalad Dataset

In [3]:
# Obtain .bgen file from a remote source
dl_source = 'git@gin.g-node.org:/juaml/datalad-example-bgen'  # exmaple data
path_to_save_bgen = '/tmp/hipsnp/example1A/'

dataset = dl.clone(source=dl_source, path=path_to_save_bgen)
dataset.get()
bgenfile = path_to_save_bgen + 'imputation/example_c1_v0.bgen'

[INFO] Cloning dataset to Dataset(/tmp/hipsnp/example1A)
[INFO] Attempting to clone from git@gin.g-node.org:/juaml/datalad-example-bgen to /tmp/hipsnp/example1A
[INFO] Start enumerating objects
[INFO] Start counting objects
[INFO] Start compressing objects
[INFO] Start receiving objects
[INFO] Start resolving deltas
[INFO] Completed clone attempts for Dataset(/tmp/hipsnp/example1A)
[INFO] access to 1 dataset sibling github-lfs not auto-enabled, enable with:
| 		datalad siblings -d "/tmp/hipsnp/example1A" enable -s github-lfs

In [4]:
# obtain allele

gen = hps.Genotype.from_bgen(files=bgenfile)

gen_allele, gen_012 = gen.alleles()()

# TODO: rename: rsid_to_genotype -> allelel
# TODO: rename: rsid_to_riskscore -> riskscore
# TODO: add mock weights to GIN to use

In [5]:
# Obtain poligenetic risk score. To get the risk score we need the weights to the ...

path_to_weights = './data/weights_all.csv'
dosage, risk = gen.riskscore(weights=path_to_weights)

In [7]:
# To only obtain the weiths

weights = hps.read_weights(path_to_weights)

In [25]:
# if we are interested on the allele and risk score of only a few rsids or samples

rsids_of_interest = ['RSID_2', 'RSID_5', 'RSID_6', 'RSID_7']
samples_of_interest = ['sample_001', 'sample_002', 'sample_003', 'sample_004']


gen_allele_f, gen_012_f = gen.alleles(rsids=rsids_of_interest,
                                               samples=samples_of_interest)

dosage_f, risk_f = gen.riskscore(rsids=rsids_of_interest,
                                         samples=samples_of_interest,
                                         weights=path_to_weights)

Example 1B See a PGS file with weights

In [30]:
path_to_PGS = '/home/oportoles/Documents/MyCode/hipsnp/test_data/weights_PGS000001.txt'

pgs_w = hps.read_weights(path_to_PGS)

In [31]:
pgs_w

            chr ea reference_allele    weight locus_name      or
rsid
rs78540526   11  T                C  0.162204      CCND1  1.1761
rs75915166   11  A                C  0.023619      CCND1  1.0239
rs554219     11  G                C  0.116716      CCND1  1.1238
rs7726159     5  A                C  0.035271       TERT  1.0359
rs10069690    5  T                C  0.023912       TERT  1.0242
...         ... ..              ...       ...        ...     ...
rs6001930    22  C                T  0.126192       MKL1  1.1345
rs4245739     1  C                A  0.028685       MDM4  1.0291
rs6678914     1  A                G -0.011061       LGR6  0.9890
rs12710696    2  A                G  0.037970     2p24.1  1.0387
rs11075995   16  T                A  0.036139        FTO  1.0368

[77 rows x 6 columns]

In [28]:
gen_allele_f

       sample_001 sample_002 sample_003 sample_004
RSID_2         AA         GG         GG         AG
RSID_5         GG         AA         AA         AG
RSID_6         AG         AA         AA         AA
RSID_7         AA         AG         AG         AG

In [29]:
gen_012_f

        sample_001  sample_002  sample_003  sample_004
RSID_2           0           2           2           1
RSID_5           2           0           0           1
RSID_6           1           0           0           0
RSID_7           0           1           1           1